asgiref==3.4.1
asn1crypto==0.24.0
certifi==2021.10.8
charset-normalizer==2.0.12
cryptography==3.3.2
defusedxml==0.7.1
diff-match-patch==20200713
Django==3.2.14
django-cors-headers==3.10.0
django-filter==21.1
django-import-export==2.8.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
entrypoints==0.3
et-xmlfile==1.1.0
idna==3.3
keyring==17.1.1
keyrings.alt==3.1.1
MarkupPy==1.14
odfpy==1.4.1
openpyxl==3.0.9
Pillow==9.1.1
psycopg2-binary==2.9.3
pycrypto==2.6.1
PyGObject==3.30.4
PyJWT==2.4.0
python-dotenv==0.19.2
pytz==2021.3
pyxdg==0.26
PyYAML==6.0
requests==2.27.1
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.4.2
tablib==3.2.1
typing-extensions==4.2.0
urllib3==1.26.9
xlrd==2.0.1
xlwt==1.3.0
