@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Source+Serif+Pro:wght@200;400&family=Source+Sans+Pro:wght@200;400&display=swap");

:global(.main-application .ql-mention-list-container) {
  width: 270px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
  overflow: auto;
}

:global(.main-application .ql-mention-loading) {
  line-height: 44px;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
}

:global(.main-application .ql-mention-list) {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:global(.main-application .ql-mention-list-item) {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
}

:global(.main-application .ql-mention-list-item.disabled) {
  cursor: auto;
}

:global(.main-application .ql-mention-list-item.selected) {
  background-color: #d3e1eb;
  text-decoration: none;
}

:global(.main-application .mention) {
  height: 24px;
  width: 65px;
  border-radius: 6px;
  background-color: #d3e1eb;
  padding: 3px 0;
  margin-right: 2px;
  user-select: all;
}

:global(.main-application .mention > span) {
  margin: 0 3px;
}

:global(.main-application) {
  font-size: 20px;
  font-family: "Source Serif Pro", sans-serif;
  line-height: 36px;
  background: white;
  height: 100%;
  width: 100%;
}

:global(.main-application h1) {
  font-size: 3.5em;
  font-family: Domine;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2em;
}

:global(.main-application h2) {
  font-size: 2em;
  font-family: Domine;
  font-style: normal;
  font-weight: bold;
}
:global(.main-application h3) {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
}
:global(.main-application div p:first-child) {
  margin-top: 0px;
}
:global(.main-application div p:last-child) {
  margin-bottom: 0px;
}

:global(.main-application .mention) {
  height: auto;
  width: auto;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  margin-right: 0;
  -webkit-user-select: none;
  user-select: none;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

:global(.main-application .mention a > span),
:global(.main-application .ql-mention-list-item span) {
  border-radius: 50px;
  padding: 5px 10px;
  color: white;
}

:global(.main-application .mention a) {
  text-decoration: none !important;
}

:global(.main-application .section) {
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  display: block;
}
