.inner_column {
  padding: 60px 45px;
}

.glossary_terms_list:not(:last-child) {
  border-bottom: 1px solid black;
}

.step {
  display: grid;
  grid-template-columns: 360px auto;
  width: 100%;
  border-bottom: 1px solid black;
  min-height: calc(100vh - 123px);
}
.step .sidebar {
  height: auto;
  padding: 40px 50px;
  box-sizing: border-box;
  top: 123px;
  position: sticky;
  align-self: flex-start;
}

.sidebar_content {
  /* width: calc(100% - 360px); */
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
}
.sidebar_content > div {
  border-bottom: 1px solid black;
}
.sidebar_content > div:last-child {
  border-bottom: none;
  flex: 1 auto;
}

.sidebar_content > div > div {
  border-right: 1px solid black;
}
.sidebar_content > div > div:last-child {
  border-right: none;
}

.step_number {
  background-image: url("../assets/ellipse.png");
  min-width: 122px;
  height: 65px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.step_number h3 {
  margin-top: auto;
  margin-bottom: auto;
}
