.container {
  padding: 1.5em;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  padding-bottom: 1em;
  font-family: "Source Sans Pro", sans-serif;
}

.subtitle {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #616161;
  padding-bottom: 1em;
}
.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex: 1 auto;
}
