@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Source+Serif+Pro:ital,wght@0,200;0,400;1,400&family=Source+Sans+Pro:wght@200;400;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background: #fafafa;
}
#root {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
.tox .tox-collection__item-label {
  line-height: normal !important;
}

.breadcumb {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}
