.main {
  width: 100%;

  border-bottom: 1px solid #000000;
  box-sizing: border-box;
}
.content {
  display: flex;
  height: 700px;
}

.section {
  width: 50%;
}

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  border-right: 1px solid #000000;
  box-sizing: border-box;
}
.description {
  padding: 40px;
  overflow: hidden;
}
.main a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.main h2 {
  transition: 0.3s all;
  margin-top: 0;
}
.main h2:hover {
  webkit-filter: blur(2px); /* Chrome, Safari, Opera */
  filter: blur(2px);
}
.pointing_hand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
}
