.button {
  position: fixed;
  bottom: 2em;
  right: 2em;
  border-radius: 100%;
  background-color: black;
  border: none;
  cursor: pointer;
  height: 0;
  width: 0;
  background-image: url("../../assets/up-arrowa.png");
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 30%);
  transition: all 0.5s;
  opacity: 0;
  background-size: 50%;
}

.show {
  opacity: 1;
  height: 60px;
  width: 60px;
}
