.container {
  background: black;
  color: white;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  font-family: "Domine";
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 24px;
  position: sticky;
  top: 55px;
  z-index: 1;
}

.research_question_title {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  font-family: "Source Sans Pro";
  line-height: 18px;
  letter-spacing: 0.1em;
}
.research_question_title .slashes {
  font-size: 40px;
  font-weight: 200;
  margin-left: 20px;
}

.research_question_title_big {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Source Sans Pro";
  align-self: center;
}
.research_question_title_big .slashes {
  font-size: 2.3em;
  font-weight: 200;
  margin-left: 20px;
}
.research_question_content_big {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.research_question_content_big h2 {
  margin: 0;
}
.research_question_container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  transition: 0.3s;
}

.research_question_container_to_small {
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  gap: 30px;
}
.research_question_outer {
  background: transparent;
  transition: 0.3s;
  position: sticky;
  top: 55px;
  z-index: 1;
}

.research_question_outer_to_small {
  background: black;
  color: white;
  font-size: 0.6rem;
  line-height: 1rem;
}
.section_no_margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
