.container {
  background: black;
  color: white;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  font-family: "Domine";
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 24px;
  position: sticky;
  top: 55px;
  z-index: 1;
}

.research_question_title {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  font-family: "Source Sans Pro";
  line-height: 18px;
  letter-spacing: 0.1em;
}
.research_question_title .slashes {
  font-size: 40px;
  font-weight: 200;
  margin-left: 20px;
}
