.hero_section {
  position: relative;
  height: calc(100vh - 55px);
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.hero_section_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 4rem 8rem;
  box-sizing: border-box;
}

.section {
  max-width: 960px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  display: block;
}
.section_content {
  padding: 50px 0;
}

.section_content_smaller {
  padding-left: 70px;
}
.experiments_description {
  font-family: Source Sans Pro;
  font-size: 1em;
}
